<h2><%= t("contact_us") %></h2>
<div id="contact-us-inner">
   <p><%= t("contact_us_description") %></p>
   <%= form_for(@contact, :remote => true, :html => {:honeypot => true}) do |f| %>
     <div class="form-row">
       <%= f.label :first_name, t("first_name") %> <span class="req">*</span>
       <%= f.text_field :first_name %>
   		<%= "<span class='error'> #{@contact.errors.on(:first_name)} </span>".html_safe unless @contact.errors.on(:first_name).nil? %>
     </div>

   	<div class="form-row">
       <%= f.label :last_name, t("last_name") %> <span class="req">*</span>
       <%= f.text_field :last_name %>
     	 <%= "<span class='error'> #{@contact.errors.on(:last_name)} </span>".html_safe unless @contact.errors.on(:last_name).nil? %>
   	</div>

     <div class="form-row">
       <%= f.label :email, t("email") %> <span class="req">*</span>
       <%= f.text_field :email %>
   		 <%= "<span class='error'> #{@contact.errors.on(:email)} </span>".html_safe unless @contact.errors.on(:email).nil? %>
     </div>

     <div class="form-row">
       <%= f.label :phone, t("phone") %> (<%= t("optional") %>)
       <%= f.text_field :phone %>
   		 <%= "<span class='error'> #{@contact.errors.on(:phone)} </span>".html_safe unless @contact.errors.on(:phone).nil? %>
     </div>

   	<div class="form-row">
        <%= f.label :topic_id, t("topic") %> <span class="req">*</span>
        <%= f.collection_select :topic_id, @topics, :id, :name %>
     </div>

     <div class="form-row">
       <%= f.label :order_number, t("order_number") %>
       <%= f.text_field :order_number %>
     </div>

     <div id="textarea-row">
       <%= f.label :message, t("message") %> <span class="req">*</span>
       <%= f.text_area :message %>
   		 <%= "<span class='error'> #{@contact.errors.on(:message)} </span>".html_safe unless @contact.errors.on(:message).nil? %>
     </div>
     <div class="form-action">
   		<%= f.submit t("send_message"), :disable_with => t("sending") ,:class => "submit-button" %>
   	</div>
     <% end %>
   	<a href="#" class="close-reveal-modal">x</a>
   </div>
</div><!-- #contact-us-inner -->

